.bocadillo {
    position: fixed;
    z-index: 999999 !important;
    width: 220px;
    background-color: #ecf4fc;
    border: 2px solid #3700ff;;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
    padding: 10px 12px;
    font-family: 'Space Mono', monospace;
    font-size: 13px;
    line-height: 1.4;
    color: #222;
    text-align: center;
    overflow: visible;
    transform: translate(-50%, -100%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.bocadillo.visible {
    opacity: 1;
    transform: translate(-50%, -100%) scale(1);
}

.bocadillo::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 63%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #3700ff;;
}
.bocadillo::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 63%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ecf4fcfb;
    z-index: 1;
}