

/*********************** KEYFREYMS ***************************/
@keyframes horizontal {
    0% {transform: rotateX(72deg);}
    100% {transform: rotateX(75deg)}
}
@keyframes vertical {
    0% {transform: scale(0.9);}
    100% {transform: scale(1)}
}
@keyframes ojoiz {
    0% {transform: rotate(-10deg);}
    5%{transform: rotate(-10deg) scaleY(0.1);}
    10% {transform: rotate(-10deg);}
    100% {transform: rotate(-10deg);}
}

@keyframes ojode {
    0% {transform: rotate(10deg);}
    5%{transform: rotate(10deg) scaleY(0.1);}
    10% {transform: rotate(10deg);}
    100% {transform: rotate(10deg);}
}
@keyframes flotar {
    0% {top: 0px;}
    25% {top: 20px;}
    50% {top: 0px;}
    100% {top: 35px;}
    
}
@keyframes girar{
    0% {transform:rotate(0deg);}
    20% {transform:rotate(0deg);}
    40% {transform:rotate(2deg);}
    75% {transform:rotate(0deg);}
}
/* @keyframes sonreir {
    0% {transform: skewy(-50deg);rotate: (-172deg);}
    25% {transform: skewy(-60deg);rotate: (-172deg);}
    50% {transform: skewy(-55deg);rotate: (-172deg);}
    100% {transform: skewy(-50deg);rotate: (-172deg);}
} */
 @keyframes blush {
    0% {filter: opacity(100%);}
    5% {filter: opacity(90%);}
    15% {filter: opacity(50%);}
    15% {filter: opacity(10%);}
    40% {visibility: hidden;}
    75% {visibility: visible;}
 }
/*********************** GENERAL ***************************/

 #pet-scale {
    overflow: visible !important;
    
} 

.agujeronegro {
    position: relative;
    overflow: visible !important;
    width: 500px;
    height: 500px;
    perspective: 350px;
    animation: flotar 5s ease-in-out 0s infinite alternate backwards;
    animation: girar 5s ease 0s infinite alternate alternate;

}
.hvertical {
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background: radial-gradient(circle, transparent 32%, #3f007a 39%, #63fff2 49%, #40ffef 51%, #7c18ffe0 58%, #7023ffab 61%, #ab6aff42 70%, transparent 95%);
    filter: blur(5px);
    z-index: 1;
    left: 73px;
    top: 70px;
    transform: translateY(-10px);
    animation: vertical 5s ease-in-out 0s infinite alternate backwards;
}
.centro {
    position: absolute;
    width: 170px;
    height: 170px;
    background: rgb(0, 0, 0);
    /* box-shadow:15px 5px 20px rgb(50, 0, 73) inset; */
    border-radius: 50%;
    left: 130px;
    top: 120px;
    z-index: 3;
}
.ojo{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    z-index: 3;
    

}
.ojo.izq{
    top: 80px;
    left: 40px;
    animation: ojoiz 2s ease-in-out 0s infinite alternate backwards, mirar 10s ease 0s infinite alternate ;
}
.ojo.der{
    top: 80px;
    left: 110px;
    animation: ojode 2s ease-in-out 0s infinite alternate backwards;
}
.hhorizontal {
    position: absolute;
    width: 440px;
    height: 320px;
    border-radius: 50%;
    background: radial-gradient(circle, transparent 35%, #65fff2e3 39%, #6f00ffd7 55%, #8476ffc7 64%, #8671ff7e 72%, transparent 92%);
    z-index: 5;
    filter: blur(5px);
    top: 50px;
    transform: rotateX(72deg);
    mask-image: linear-gradient(to bottom, transparent 29%, rgba(0, 0, 0, 1) 75%);
    animation: horizontal 2.5s ease-in-out 0s infinite alternate forwards;
    /* animation: sonreir 5s ease-in-out 0s infinite alternate backwards; */
}
/* .estrellas{
    width: 20px;
    height: 20px;
    background-color: white;
    position: relative;
    transform: rotate(55deg)skewX(30deg);
    

} */
/* .estrellas{
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 6;
    background-color: white;
    content: "✦";
} */
 .blush{
    width: 2px;
    height: 10px;
    border-radius: 15px;
    background-color: pink;
    box-shadow: 1px 0px 10px 4px rgba(255, 192, 203, 0.61);
    position: absolute;
    visibility: hidden;
    animation: blush 5s linear 15s infinite alternate none;
 }
 .der{
    top: 105px;
    left: 50px;
    rotate: 40deg;
 }
 .iz{
    left: 120px;
    top: 105px;
    rotate: -40deg;
 }
  .iz2{
    left: 125px;
    top: 105px;
    rotate: -40deg;
 }
  .iz3{
    left: 130px;
    top: 105px;
    rotate: -40deg;
 }
.der2{
    top: 105px;
    left: 45px;
    rotate: 40deg;
}
.der3{
    top: 105px;
    left: 40px;
    rotate: 40deg; 
}
/* .bocadillo{
    width: 250px;
    height: 150px;
    background-color: white;
    font-size: 25px;
    padding: 15px;
    position: absolute;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace; /* Fuente monoespaciada para el look retro */
    /* font-weight: bold;
    background-color: #ffffff; */
    /* color: #000000; */
    /* box-shadow:  */
        /* 0 -4px 0 0 rgb(0, 217, 255), 
        0  4px 0 0 rgb(0, 217, 255), 
        -4px 0 0 0 rgb(0, 217, 255), 
        4px 0 0 0 rgb(0, 217, 255),
        5px -7px 0 0 rgb(255, 0, 0), 
        8px  -2px 0 0 rgb(255, 0, 0);
    
   
} */ 
/* .bocadillo::after{
   content: "";
   position: absolute;
   bottom: -16px; 
   left: 30px;   
   width: 4px;
   height: 4px;
   
    /* box-shadow:-31px -8px 0 rgb(0, 217, 255); */
   /* box-shadow:-31px -8px 0 rgb(0, 217, 255),-35px -5px 0 rgb(0, 217, 255),-33px -8px 0 rgb(0, 217, 255),-34px -12px 0 rgb(0, 217, 255),-36px -5px 0 rgb(0, 217, 255), -30px -12px 0px rgb(0, 217, 255),-40px -3px 0px rgb(0, 217, 255), -44px -1px 0 rgb(0, 217, 255), -44px -1px 0 rgb(0, 217, 255), -48px 2px 0 rgb(0, 217, 255), -37px -8px 0 rgb(0, 217, 255),-39px -5px 0 rgb(0, 217, 255); */
/* } */ 
/* .bocadillo::after{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 0px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(0, 217, 255);        
} */
/***********************ESTRUCTURA ***************************/
.spacio{
    position: absolute;
    top: 0;          
    left: 15px;        
    transform: scale(0.35); 
    transform-origin: top left;

}


