html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------- QUERYS --------------*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.tit{
		transform: translateY(10vh);
		
	}

	p{
		transform: translateY(10vh);
	}

}
@media screen and (min-width: 475px) and (max-width: 768px){
	.tit{
		transform: translateY(2vh);
	}
	.menu{
		font-size: 0.9rem;
	}
	.logo{
		font-size: 1.5rem;
	}
	.pet-container{
		transform: scale(0.6);
	}
}
	
/*---------------- GENERAL -------------*/
@font-face {
    font-family: 'Jacquard 12';
    src: url('fonts/Jacquard12-Regular.woff2') format('woff2'),
        url('fonts/Jacquard12-Regular.woff') format('woff'),
        url('fonts/Jacquard12-Regular.ttf') format('truetype'),
        url('fonts/Jacquard12-Regular.svg#Jacquard12-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ruritania-Outline';
    src: url('fonts/Ruritania-Outline.woff2') format('woff2'),
        url('fonts/Ruritania-Outline.woff') format('woff'),
        url('fonts/Ruritania-Outline.ttf') format('truetype'),
        url('fonts/Ruritania-Outline.svg#Ruritania-Outline') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*---------------- DISEÑO --------------*/
li{
	font-size: 1.5rem;
}
h1{
	font-family: 'Jacquard 12';
	font-size: 2rem;
	margin: 2vh;
	color: black;
}
h2{
	font-family: 'Ruritania-Outline';
	font-size: 4.5rem;
	margin: 2vh;
	color: rgb(0, 0, 0);
	margin-top: 7vh;
	
}
p{
	font-family: 'Jacquard 12';
	font-size: 1.5rem;
	color: black;
	margin: 5vh;
}
a{
	font-family: 'Jacquard 12';
	font-size: 1.7rem;
	color: black;
	text-decoration: none;	
	margin-top: 2vh;
	
}
/*---------------- ESTRUCTURA --------------*/
html{
    background-color: black;
}
header{
	width: 100%;
	height: 8vh;
	background-color: rgb(255, 255, 255);
	
}
main{
	width: 100%;
	height: 90vh;
	background: #ffffff;
	background: linear-gradient(179deg, rgba(255, 255, 255, 1) 8%, rgba(0, 0, 0, 1) 83%);
}
.xp-v {
    width: 80%;
    background-color: #ece9d8;
    border: 3px solid #bdbdbd;
    border-top: none;
    border-radius: 7px 7px 0 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    
    align-items: center;       
}
.xp-t {
    background: linear-gradient(to top, #666, #6d6d6d 10%, #b3b3b3 80%, #d4d4d4);
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
       font-weight: bold;
    font-size: 13px;
}
.xp-btn {
    width: 21px;
    height: 21px;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(135deg, #ccc, #919191);
    margin-left: 2px;
}
.xp-btn.close {
    background: linear-gradient(135deg, #ff7d59, #e12300);
    border-color: #ff9b7d;
}
.xp-c {
    background-color: #fff;
    margin: 2px;
    padding: 12px;
    border: 1px solid #7f9db9;
}
#principal{
    display: grid;
    place-items: center;
    width: 90%;
    transform: translateY(3rem);
}